# Server
PORT=8000

# Database
DATABASE_URL=postgres://futurecast:futurecast@db:5432/futurecast
DATABASE_PORT=5433:5432
POSTGRES_USER=futurecast
POSTGRES_PASSWORD=futurecast
POSTGRES_DB=futurecast

# Inference
INFERENCE_PORT=8080
